@page "/OpenCall"
@using HS.Shared.Components.Layout
@layout EmptyLayout

<style>

    .container {
        overflow-y: hidden;
    }

    .DivCenter {
        display: flex;
        justify-content: center;
    }


</style>




<div class="container">

    <div class="row" style="margin-top: 20px;">
        <div class="col ml-3 mt-1">
            <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" OnClick="ClickBack" Style="padding-top: 1px;"></MudIconButton>
          
        </div>
    </div>


        <div class="row mt-5">
        <div class="col DivCenter">
            <MudImage Src="images/opencall1.png" Elevation="0" Style="padding: 10px;height: 345px;" />
            </div>
        </div>

    <div class="row mt-5">
        <div class="col DivCenter">
            <MudText Style="font-weight:bolder" Typo="Typo.h6">Jenny Wilson</MudText>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col DivCenter">
            <MudText Typo="Typo.subtitle1">04:38 minutes</MudText>
        </div>
    </div>

    <div class="row mt-10" style="display: flex; justify-content: space-evenly;">

        <div class="col" style="margin-right: 15px; margin-top: 5px;">
            <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Mic" />
        </div>
        <div class="col" style="margin-right: 15px; margin-top: 5px;">
            <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Mic" />
        </div>
        <div class="col" style="margin-right: 15px; margin-top: 5px;">
            <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Mic" />
        </div>
    </div>

</div>




@code {

    public string Message { get; set; }

    @inject NavigationManager Navigation;

    private void ClickBack()
    {
        Navigation.NavigateTo("Home");
    }



}

