@page "/FillProfile"
@using HS.Shared.Components.Layout
@layout EmptyLayout

<style>

    .container {
        overflow-y: auto;
        overflow-x: hidden;
        height: 80vh;
    }

    .DivCenter {
        display: flex;
        justify-content: center;
    }

    .IconText {
        font-size: xx-large;
        font-weight: bold;
        margin-left: 8px;
    }

    .rightIcon .mud-icon-root {
        border: solid;
        border-radius: 12px;
    }

    .Text {
        font-weight: bold;
    }

    .smalltext {
        font-size: smaller;
    }

    .Sticky {
        padding: 20px;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .ContinueBtn {
        border-radius: 30px;
        width: 330px;
        height: 50px;
    }

    .cardContent {
        display: flex;
        justify-content: space-between;
    }

    .mud-input-control.mud-input-control-boolean-input {
        margin-top: 6px;
    }

    .mudCard {
        border-radius: 10px;
        margin-top: 25px;
        width: 326px;
    }

    .mud-input-control {
        margin-right: 25px;
        margin-left: 10px;
    }

    .mud-badge {
        margin-top: 45px;
        border-radius: 7px;
        position: static;
    }
</style>





<div class="container">

    <div class="row" style="margin-top: 20px;">
        <div class="col ml-3  mt-1">
            <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" OnClick="ClickBack" Style="padding-top: 1px;"></MudIconButton>
            <span class="IconText">Fill Your Profile</span>
         
        </div>
    </div>

    <div class="row">
        <div class="col ">
            <MudCard Elevation="0">
                <MudCardContent Style="text-align: center;">
                    <MudBadge  Color="Color.Primary" Icon="@Icons.Material.Filled.Edit" Overlap="true" Bordered="true">
                        <MudAvatar Style="height:100px; width:100px; font-size:2rem;"  Image="images/DP.png" />
                    </MudBadge>
                </MudCardContent>
            </MudCard>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col ml-3">
            <MudTextField @bind-Value="CardName" Variant="Variant.Filled"></MudTextField>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col ml-3">
            <MudTextField @bind-Value="UserName" Variant="Variant.Filled"></MudTextField>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col ml-3">
            <MudDatePicker @bind-Date="date" Variant="Variant.Filled" />
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col ml-3">
            <MudTextField @bind-Value="email" Variant="Variant.Filled" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Email"></MudTextField>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col ml-3">
            <MudTextField @bind-Value="number" Variant="Variant.Filled"></MudTextField>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col ml-3">
            <MudTextField @bind-Value="Address" Variant="Variant.Filled" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.LocationOn"></MudTextField>
        </div>
    </div>
</div>

<MudCard Class="Sticky DivCenter">
    <MudButton Class="ContinueBtn" OnClick="Continue" Variant="Variant.Filled" Color="Color.Primary">Continue</MudButton>
</MudCard>


@code {

    @inject NavigationManager Navigation;

    public string CardName { get; set; } = "Andrew Ainsley";
    public string UserName { get; set; } = "Andrew";
    public string email { get; set; } = "andrew_ainsley@yourdomain.com";

    public string number { get; set; } = "+1 111 467 378 399";
    public string Address { get; set; } = "267 New Avenue Park, New York";

    DateTime? date = DateTime.Today;
    private void ClickBack()
    {
        Navigation.NavigateTo("Home");
    }

    private void Continue()
    {
        Navigation.NavigateTo("CreateNewPin");
    }

}

