@page "/ForgetPasswordOne"
@using HS.Shared.Components.Layout
@layout EmptyLayout

<style>

    .container {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .DivCenter {
        display: flex;
        justify-content: center;
    }

    .IconText {
        font-size: xx-large;
        font-weight: bold;
        margin-left: 8px;
    }

    .Text {
        font-weight: 500;
        width: 333px;
        margin-top: 25px;
        
    }

    .ContinueBtn {
        border-radius: 30px;
        width: 330px;
        height: 50px;
    }

    .stylingCard{
        border: solid 1px #974eff;
    }

</style>





<div class="container">

    <div class="row" style="margin-top: 20px;">
        <div class="col ml-3 mt-1">
            <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" OnClick="ClickBack" Style="padding-top: 1px;"></MudIconButton>
            <span class="IconText">Forgot Password</span>
        </div>
    </div>


    <div class="row DivCenter">
        <div class="col ml-5 mt-5">
            <MudImage Class="img-fluid" Src="images/createPassword.png" Elevation="0" Height="250" Width="250" Style="margin-top:20px" />
        </div>
    </div>
    <div class="row  DivCenter  ">
        <div class="col DivCenter">
            <MudText Typo="Typo.subtitle1" Class="Text">Select which contact details should we use to reset your password</MudText>
        </div>
    </div>
    <div class="row  ">
        <div class="col DivCenter">
            <MudCard @onclick="(() => OnCardClick(1))" Style="border-radius:10px;margin-top:10px;width:326px;" Class="@stylingCard1">
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudImage Class="img-fluid" Src="images/chatIcon.png" Elevation="0" Height="50" Width="50" />
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudText Typo="Typo.body2">Via SMS</MudText>
                        <MudText Typo="Typo.subtitle1" Style="font-weight:bold">+111**********99</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
            </MudCard>
        </div>
    </div>
    <div class="row">
        <div class="col DivCenter">
            <MudCard @onclick="(() => OnCardClick(2))" Style="border-radius:10px;margin-top:15px;" Class="@stylingCard2">
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudImage Class="img-fluid" Src="images/emailicon.png" Elevation="0" Height="50" Width="50" />
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudText Typo="Typo.body2">Via Email</MudText>
                        <MudText Typo="Typo.subtitle1" Style="font-weight:bold">and******ley@yourdomain.com</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
            </MudCard>
        </div>
    </div>

    <div class="row">
        <div class="col mt-5 DivCenter">
            <MudButton Class="ContinueBtn" Variant="Variant.Filled" OnClick="Continue" Color="Color.Primary">Continue</MudButton>
        </div>
    </div>

</div>


@code {

    @inject NavigationManager Navigation;

    private void ClickBack()
    {
        Navigation.NavigateTo("SignIn");
    }
    private void Continue()
    {
        Navigation.NavigateTo("ForgotPasswordTwo");
    }


    
    string stylingCard1 = "";
    string stylingCard2 = "";

    private  void OnCardClick(int param)
    {
        if (param == 1)
        {
            stylingCard2 = "";
            stylingCard1 = "stylingCard";
        }
        else
        {
            stylingCard1 = "";
            stylingCard2 = "stylingCard";
        }
    }

}
