@using MudBlazor
@inherits LayoutComponentBase

<MudThemeProvider Theme="_currentTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<div style="background-color:#ffff;margin:0px;padding:0px;">
   
            @Body
      
</div>


@code {
     private readonly MudTheme _currentTheme = new()
     {
         Palette = new PaletteLight
         {
                Primary = "#7210FF",
             // Secondary = "#4CAF50",
             // Info = "#64a7e2",
             // Success = "#2ECC40",
             // Warning = "#FFC107",
             // Error = "#FF0000",
             // AppbarBackground = "#212121",
             // TextPrimary = "#0A7BCF",
             // TextSecondary = "#4CAF50",
             // more color properties
         },
         PaletteDark = new PaletteDark
         {
             Primary = "#6585e0",
             Secondary = "#607D8B",
             Info = "#a4c2dd",
             Success = "#2ECC40",
             Warning = "#dc2d7e",
             Error = "#de2000",
             AppbarBackground = "#121212",
             TextPrimary = "#E0E0E0",
             TextSecondary = "#BDBDBD",
             // more color properties
         }
     };
}