@using MudBlazor
@inherits LayoutComponentBase

@inject ThemeService _themeService

<MudThemeProvider Theme="@_currentTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<div style="background-color:var(--mud-palette-white);margin:0px;padding:0px;">

    @Body

</div>

@code {
    private MudTheme _currentTheme { get; set; }

    MudTheme Purple = new() { Palette = new PaletteLight { Primary = "#7210FF", } };
    MudTheme Blue = new() { Palette = new PaletteLight { Primary = "#246BFD", } };
    MudTheme Green = new() { Palette = new PaletteLight { Primary = "#4ADE80", } };


    public void TriggerLayoutMethod()
    {
        _currentTheme = Green;
    }

}