@page "/Address"
@using HS.Shared.Components.Layout
@layout EmptyLayout

<style>

    .container {
        overflow-y: auto;
    }

    .DivCenter {
        display: flex;
        justify-content: center;
    }

    .IconText {
        font-size: x-large;
        font-weight: bold;
        margin-left: 8px;
    }

    .rightIcon .mud-icon-root {
        border: solid;
        border-radius: 12px;
    }

    .Text {
        font-weight: bold;
    }

    .smalltext {
        font-size: smaller;
    }

    .Sticky {
        padding: 20px;
        position: fixed;
        bottom: 0;
        width: 100%;
        border-top-left-radius: 55px;
        border-top-right-radius: 55px;
    }

    .ContinueBtn {
        border-radius: 30px;
        width: 330px;
        height: 50px;
    }

    .cardContent {
        display: flex;
        justify-content: space-between;
    }

    ..mud-input-control.mud-input-control-boolean-input {
        margin-top: 6px;
    }

    .mudCard {
        border-radius: 10px;
        margin-top: 25px;
        width: 326px;
    }

    .mud-divider-middle {
        margin-left: 140px;
        margin-right: 140px;
    }
</style>





<div class="container">

    <div class="row" style="margin-top: 20px;">
        <div class="col ml-3 mt-1">
            <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" OnClick="ClickBack" Style="padding-top: 1px;"></MudIconButton>
            <span class="IconText">Your Address/Location</span>
            <MudIconButton Class="rightIcon" Icon="@Icons.Material.Outlined.MoreHoriz" Style="float: right;"></MudIconButton>
        </div>
    </div>


    <div class="row">
        <div class="col ">

            <MudImage  Src="images/address.png" Elevation="0" Fluid="true" />
          
        </div>
    </div>

    
</div>

<MudCard Class="Sticky DivCenter">
  
    <div>
        <MudDivider DividerType="DividerType.Middle" >  </MudDivider>
        <span class="IconText DivCenter mt-2">Location Details</span>
        <MudDivider Class="mt-5"> </MudDivider>
        <span class="IconText">Address</span>
        <br />
        <MudTextField @bind-Value="Abbddress" Variant="Variant.Filled" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.LocationOn" Class="mx-3" />
        <br />
        <MudButton Class="ContinueBtn" Variant="Variant.Filled" Color="Color.Primary">Continue</MudButton>

    </div>
    </MudCard>


@code {

    @inject NavigationManager Navigation;
    public bool CheckBox1 { get; set; } = false;
    public bool CheckBox2 { get; set; } = false;
    public bool CheckBox3 { get; set; } = false;
    public bool CheckBox4 { get; set; } = true;
    public bool CheckBox5 { get; set; } = false;

    public string Abbddress { get; set; } = "267 New Avenue Park, New York";

    private void ClickBack()
    {
        Navigation.NavigateTo("Home");
    }



}

