@page "/Receipt"
@using HS.Shared.Components.Layout
@layout EmptyLayout

<style>
    /* Styles for the container */
    .container {
        overflow-y: auto;
    }

    /* Styles for centering elements */
    .DivCenter {
        display: flex;
        justify-content: center;
    }

    /* Styles for the icon text */
    .IconText {
        font-size: xx-large;
        font-weight: bold;
        margin-left: 8px;
    }

    /* Styles for the right icon */
    .rightIcon .mud-icon-root {
        border: solid;
        border-radius: 12px;
    }

    /* Styles for text */
    .Text {
        font-weight: bold;
    }

    /* Styles for small text */
    .smalltext {
        font-size: smaller;
    }

    /* Styles for the continue button */
    .ContinueBtn {
        border-radius: 30px;
        width: 330px;
        height: 50px;
    }

    /* Styles for card content */
    .cardContent {
        display: flex;
        justify-content: space-between;
    }

    /* Additional styles for mud input control */
    .mud-input-control.mud-input-control-boolean-input {
        margin-top: 6px;
    }

    /* Styles for mud card */
    .mudCard {
        border-radius: 10px;
        margin-top: 25px;
        width: 326px;
    }
</style>

<div class="container">
    <!-- Header section -->
    <div class="row" style="margin-top: 20px;">
        <div class="col ml-3 mt-1">
            <!-- Back button and icon text -->
            <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" OnClick="ClickBack" Style="padding-top: 1px;"></MudIconButton>
            <span class="IconText">E-Receipt</span>
            <MudIconButton Class="rightIcon" Icon="@Icons.Material.Outlined.MoreHoriz" Style="float: right;"></MudIconButton>
        </div>
    </div>

    <!-- Image section -->
    <div class="row mt-5">
        <div class="col DivCenter ">
            <!-- Placeholder image -->
            <MudImage Class="img-fluid" Src="images/barcode.png" Elevation="0" Width="400" Height="150" />
        </div>
    </div>

    <!-- Card section -->
    <div class="row">
        <div class="col DivCenter">
            <!-- First MudCard displaying service details -->
            <MudCard Class="mudCard">
                <MudCardHeader>
                    <CardHeaderContent>
                        <!-- Service details -->
                        <div class="cardContent">
                            <div>
                                <MudText Typo="Typo.subtitle1">Services</MudText>
                            </div>
                            <div>
                                <MudText Typo="Typo.subtitle1" Style="font-weight:bold">House Cleaning</MudText>
                            </div>
                        </div>
                        <!-- Category details -->
                        <div class="cardContent mt-5">
                            <div>
                                <MudText Typo="Typo.subtitle1">Category</MudText>
                            </div>
                            <div>
                                <MudText Typo="Typo.subtitle1" Style="font-weight:bold">Cleaning</MudText>
                            </div>
                        </div>
                        <!-- Worker details -->
                        <div class="cardContent mt-5">
                            <div>
                                <MudText Typo="Typo.subtitle1">Workers</MudText>
                            </div>
                            <div>
                                <MudText Typo="Typo.subtitle1" Style="font-weight:bold">Jenny Wilson</MudText>
                            </div>
                        </div>
                        <!-- Date & Time details -->
                        <div class="cardContent mt-5">
                            <div>
                                <MudText Typo="Typo.subtitle1">Date & Time</MudText>
                            </div>
                            <div>
                                <MudText Typo="Typo.subtitle1" Style="font-weight:bold">Dec 23, 2024 | 10:00 AM</MudText>
                            </div>
                        </div>
                        <!-- Working Hours details -->
                        <div class="cardContent mt-5">
                            <div>
                                <MudText Typo="Typo.subtitle1">Working Hours</MudText>
                            </div>
                            <div>
                                <MudText Typo="Typo.subtitle1" Style="font-weight: bold;">2 hours</MudText>
                            </div>
                        </div>
                    </CardHeaderContent>
                </MudCardHeader>
            </MudCard>
        </div>
    </div>

    <!-- Expandable card section -->
    <div class="row">
        <div class="col DivCenter">
            <!-- Second MudCard for house cleaning details -->
            <MudCard Class="mudCard">
                <MudCardHeader>
                    <CardHeaderContent>
                        <div class="cardContent">
                            <!-- Title for expandable section -->
                            <div>
                                <MudText Typo="Typo.subtitle1">House Cleaning Details</MudText>
                            </div>
                            <!-- Icon for expanding/collapsing section -->
                            <div>
                                <MudIcon Icon="@Icons.Material.Filled.KeyboardArrowDown"></MudIcon>
                            </div>
                        </div>
                    </CardHeaderContent>
                </MudCardHeader>
            </MudCard>
        </div>
    </div>

    <!-- Summary card section -->
    <div class="row">
        <div class="col DivCenter mb-3">
            <!-- Third MudCard for summary details -->
            <MudCard Class="mudCard">
                <MudCardHeader>
                    <CardHeaderContent>
                        <!-- Amount details -->
                        <div class="cardContent">
                            <div>
                                <MudText Typo="Typo.subtitle1">Amount</MudText>
                            </div>
                            <div>
                                <MudText Typo="Typo.subtitle1" Style="font-weight:bold">$125.00</MudText>
                            </div>
                        </div>
                        <!-- Promo details -->
                        <div class="cardContent mt-5">
                            <div>
                                <MudText Color="Color.Primary" Typo="Typo.subtitle1">Promo</MudText>
                            </div>
                            <div>
                                <MudText Color="Color.Primary" Typo="Typo.subtitle1" Style="font-weight:bold">-$37.50</MudText>
                            </div>
                        </div>
                        <!-- Total details -->
                        <div class="cardContent mt-5">
                            <div>
                                <MudText Typo="Typo.subtitle1">Total</MudText>
                            </div>
                            <div>
                                <MudText Typo="Typo.subtitle1" Style="font-weight:bold">Credit Card</MudText>
                            </div>
                        </div>
                        <!-- Transaction details -->
                        <div class="cardContent mt-5">
                            <div>
                                <MudText Typo="Typo.subtitle1">Date & Time</MudText>
                            </div>
                            <div>
                                <MudText Typo="Typo.subtitle1" Style="font-weight:bold">Dec 23, 2024 | 10:00 AM</MudText>
                            </div>
                        </div>
                        <!-- Transaction ID details -->
                        <div class="cardContent mt-5">
                            <div>
                                <MudText Typo="Typo.subtitle1">Transaction ID</MudText>
                            </div>
                            <div>
                                <MudText Typo="Typo.subtitle1" Style="font-weight:bold">SK7263727399</MudText>
                            </div>
                        </div>
                        <!-- Status details -->
                        <div class="cardContent mt-5">
                            <div>
                                <MudText Typo="Typo.subtitle1">Status</MudText>
                            </div>
                            <div>
                                <MudText Typo="Typo.subtitle1" Style="font-weight:bold">Paid</MudText>
                            </div>
                        </div>
                    </CardHeaderContent>
                </MudCardHeader>
            </MudCard>
        </div>
    </div>
</div>

@code {
    @inject NavigationManager Navigation;

    // Method for navigating back to the home page
    private void ClickBack()
    {
        Navigation.NavigateTo("EnterPin");
    }
}
