@page "/PrivacyPolicy"
@using HS.Shared.Components.Layout
@layout EmptyLayout

<style>

    .container {
        overflow-y: auto;
    }

    .DivCenter {
        display: flex;
        justify-content: center;
    }

    .IconText {
        font-size: xx-large;
        font-weight: bold;
        margin-left: 8px;
    }




   

</style>





<div class="container">

    <div class="row" style="margin-top: 20px;">
        <div class="col ml-3 mt-1">
            <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" OnClick="ClickBack" Style="padding-top: 1px;"></MudIconButton>
            <span class="IconText">Privacy Policy</span>
        </div>
    </div>


    <MudPaper Elevation="0">

        <MudList>
            <MudListSubheader>
                <MudText Typo="Typo.h6" Color="Color.Dark" Style="font-weight:bolder">1. Types of Data We Collect</MudText>
            </MudListSubheader>
            <MudListItem>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </MudListItem>

            <MudListSubheader>
                <MudText Typo="Typo.h6" Color="Color.Dark" Style="font-weight:bolder">2. Use of Your Personal Data</MudText>
            </MudListSubheader>
            <MudListItem>
                Magna etiam tempor orci eu lobortis elementum nibh. Vulputate enim nulla aliquet porttitor lacus. Orci sagittis eu volutpat odio. Cras semper auctor neque vitae tempus quam pellentesque nec. Non quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor. Commodo elit at imperdiet dui. Nisi vitae suscipit tellus mauris a diam. Erat pellentesque adipiscing commodo elit at imperdiet dui. Mi ipsum faucibus vitae aliquet nec ullamcorper. Pellentesque pulvinar pellentesque habitant morbi tristique senectus et.
            </MudListItem>

            <MudListSubheader>
                <MudText Typo="Typo.h6" Color="Color.Dark" Style="font-weight:bolder">3. Disclosure of Your Personal Data</MudText>
            </MudListSubheader>
            <MudListItem>
                Consequat id porta nibh venenatis cras sed. Ipsum nunc aliquet bibendum enim facilisis gravida neque. Nibh tellus molestie nunc non blandit massa. Quam pellentesque nec nam aliquam sem et tortor consequat id. Faucibus vitae aliquet nec ullamcorper sit amet risus. Nunc consequat interdum varius sit amet. Eget magna fermentum iaculis eu non diam phasellus vestibulum. Pulvinar pellentesque habitant morbi tristique senectus et. Lorem donec massa sapien faucibus et molestie. Massa tempor nec feugiat nisl pretium fusce id. Lacinia at quis risus sed vulputate odio. Integer vitae justo eget magna fermentum iaculis. Eget gravida cum sociis natoque penatibus et magnis.
            </MudListItem>


        </MudList>

    </MudPaper>




</div>



@code {


    public string SelectedOption1 { get; set; }
    public string SelectedOption2 { get; set; }
    public string SelectedOption3 { get; set; }
    public string SelectedOption4 { get; set; }
    public string SelectedOption5 { get; set; }
    public string SelectedOption6 { get; set; }
    public string SelectedOption7 { get; set; }

    @inject NavigationManager Navigation;

    private void ClickBack()
    {
        Navigation.NavigateTo("Home");
    }



}

